.modal-changepassword-container {
  padding: 20px;
}
.ttitle-change {
  font-size: 18px;
}
.title-change-password {
  margin-left: 20px;
  font-size: 18px;
}
.title-change-password i {
  position: absolute;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}
.old-password {
  margin: 20px;
}
.new-password {
  margin: 20px;
}
.confirm-password {
  margin: 20px;
}
.btn-change-password {
  margin-left: 380px;
}
.btn-return {
  border: 1px solid gray;
  height: 30px;
  border-radius: 3px;
}
.btn-change {
  margin-left: 10px;
  border: none;
  height: 30px;
  outline: none;
  background-color: rgb(36, 143, 215);
  color: white;
  border-radius: 3px;
}
.group-change {
  display: flex;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}
.group-change span {
  margin: 5px;
}
.group-change input {
  border: none;
  outline: none;
  width: 100%;
}
