.companies-container {
  display: flex;
  height: 100vh;
}
.companies-container .nav-page-admin {
  width: 88%;
  margin-bottom: 15px;
  background-color: #eaeaea;
  padding-top: 100px;
}
.text-title-companies {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
.nav-page-admin .item-companies {
  width: 250px;
  height: 100px;
  float: left;
  margin-top: 50px;
  margin-left: 70px;
  display: flex;
  background-color: white;
  box-shadow: 0px 5px 3px gray;
}
.item-companies-left {
  width: 30%;
  border: 1px solid red;
  height: 100%;
}
.item-companies-right {
  width: 70%;
  height: 100%;
}
.item-name-companies {
  height: 50%;
  width: 100%;
  padding-top: 25px;
  padding-left: 10px;
  font-size: 20px;
}
.item-btn-companies {
  height: 50%;
  width: 100%;
  padding-top: 20px;
  padding-left: 100px;
}
.btn-delete-companies {
  margin-right: 5px;
  cursor: pointer;
}
.btn-delete-companies:hover {
  border: 2px solid red;
  color: red;
  border-radius: 5px;
}
.btn-view-companies {
  cursor: pointer;
}
.btn-view-companies:hover {
  border: 2px solid orange;
  color: orange;
  border-radius: 5px;
}
