.home-title {
  font-weight: 600;
  font-size: 30px;
  margin: 20px;
}
.border-content {
  margin: 20px;
  display: flex;
  border: 1px solid rgb(202, 189, 189);
  border-radius: 10px;
}
.content-left {
  width: 50%;
  margin: 10px;
  border-right: 1px solid rgb(202, 189, 189);
  min-height: 200px;
}
.content-right {
  width: 50%;
  margin: 10px;
}
