.left-pf-company-container {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 10px;
}
.left-pf-company-content-left {
  height: 100%;
  width: 40%;
  display: flex;
  text-align:center;
  justify-content: center;
  align-items: center;
}
.left-pf-company-content-right {
  height: 100%;
  width: 60%;
  font-size: 18px;
  text-align: left;
  justify-content: center;
}

.left-pf-company-content-right .name {
  font-weight: bold;
  font-size: 30px;
  padding-top: 20px;
}
.left-pf-company-content-right .address {
  font-size: 18px;
  padding-top: 20px;
}
